.zam-app-flex{/**flex甯冨眬**/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.zam-app-alignCenter{/**flex甯冨眬 姘村钩灞呬腑**/
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.zam-app-justifyCenter{/**flex甯冨眬 鍨傜洿灞呬腑**/
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.zam-app-justifyspacearound{
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
}
.zam-app-justifyspacebetween{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.zam-app-directionColumn{/**flex甯冨眬 瀛愬厓绱犲瀭鐩存帓鍒�**/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.zam-app-flex-alignCenter{/**flex甯冨眬 + 姘村钩灞呬腑**/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.zam-app-flex-alignflexend{
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.zam-app-flex-justifyCenter{/**flex甯冨眬 + 鍨傜洿灞呬腑**/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.zam-app-flex-ajCenter{/**flex甯冨眬 + 姘村钩鍨傜洿骞朵笖瀛愬厓绱犵珫鎺掑眳涓�**/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.zam-app-flex-ajCenter2{/**flex甯冨眬 + 姘村钩鍨傜洿灞呬腑**/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.zam-app-flex-wrap {
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap: wrap;
}
html,body{width:100%;height:100%;overflow:hidden;-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}
html,body,ul,li,p,div, dl, dt, dd, h1, h2, h3, h4, p {padding:0;margin:0;}
li{list-style:none}
a{text-decoration:0;}
a:link {text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
.display-none{display:none!important}
.display-block{display:block!important}
.limitbox{
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
}
.zam-layer-loading{background-color:transparent!important;box-shadow: none!important;border-radius:0!important;}
.zam-layer-loading .layui-layer-content{color:#fff}
.zam-layer-loading .layui-layer-ico16{
    background-image:url("../../js/layer/theme/default/loading-1.gif");
    background-size:cover;
}
::-webkit-scrollbar {
    width: 0px;
    height:0px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.pc-box{
    width: 100%;
    height: 100%;
    overflow:hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pcbgBox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    background: #000;
    overflow:hidden;
}
.main-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index:-1;
    background-size:cover;
    background-repeat:no-repeat
}
.videoBg{
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.full-main{
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.main-box{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}
.header{
    width: 100%;
    height: 90px;
    position:absolute;
    top:0;
    left:0;
    z-index:2
}
.headerLogo{
    flex:2;
    height:100%;
}
.headerLogo img{
    width:auto;
    height:70px;
}
.headerTitle{
    flex:6;
    height:90px;
    position: relative;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    cursor:move;
}
.headerTitle .title-item{
    height:90px;
    line-height:90px;
    text-align:center;
    color: #fff;
    font-size:30px;
    position:relative;
    right:0;
    top:0;
}
.headerTips{
    flex:2;
}
.joinPeople{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 24px;
    color:#fff;
}
.joinPeople span{
    font-size:42px;
}

.normal-box{
    width: 100%;
    height: 620px;
    padding: 20px 0 30px;
    position: relative;
}
.footer{
    position:absolute;
    bottom:0;
    left:0;
    z-index:2;
    width: 100%;
    height: 40px;
    line-height:40px;
    text-align:center;
    color:#Fff;
    font-size:18px;
}

.chrometips{ width:100%; background:#fff8d4; position:fixed; top:0; left:0; z-index:100;}
.inner-chrometips{ width:910px; margin:0 auto; padding:20px 0; background:url(../images/warning.png) 0px 20px no-repeat; color:#837955; font-size:14px;}
.chrm-word1{ padding-left:90px; padding-top:5px;}
.chrm-word2{ padding-left:90px; padding-top:10px;}
.chrm-word2 a{ display:inline-block; width:26px; height:26px; padding-left:30px; background:url(../images/official/icons.png) 5px -90px no-repeat;color:#837955;}
.btntips-close{ position:absolute; right:10px; top:10px; display:inline-block; width:30px; height:30px; line-height:30px; text-align:center; color:#000; font-size:30px;z-index:101;text-decoration: none;}

.right-qrbox{
    position: absolute!important;
    top:100px;
    cursor:move;
    width: 260px;
    height:260px;
    border-radius: 3px;
    padding: 20px 15px 2px;
    z-index:2;
}
.right-qrimg img{
    display: block;
    width:100%;
    height:100%;
}
.right-qrdes{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 0 5px 0;
    font-size: 22px !important;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
    text-align:center;
}
.right-qrdes p{
    margin-bottom:0;
}
.btn-Blue{
    background-color:#74C0FF
}
.btn-Green{
    background-color:#82D769
}
.btn-Pink{
    background-color:rgb(246, 117, 117);
}
.btn-sBlue{
    background-color:#ABBEEC
}
.emptybox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    z-index: 2;
}
.emptybox img{width:100px;height:100px;margin-bottom:20px}
.errorbox img{width:200px;margin-bottom:40px}
.errorbox p{font-size:20px;}
/*娓告垙寮€濮嬪€掕鏃�*/
.webstartdjs{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
    background: rgba(0,0,0,.6);
}
.webstartdjs .webstartdjsBox {
    width:500px;
    height:500px
}
.webstartdjsBox .startdjsani {
    color:#fff604;
    font-size:300px;
    font-weight:bold;
}
/**娓告垙鏃堕棿鍊掕鏃�**/
.webgamedjs {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:3;
}
.webgamedjs .gamedjsani {
    color:rgba(255,255,255,0.3);
    font-size:400px;
    font-weight:bold;
}
/*鎿嶆帶opacity*/
.opacity-hide{
    opacity:0
}
.opacity-show{
    opacity:1
}
/*鎻愮ず闈炶胺姝�*/
.broswer-tip{
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    position: fixed;
    border-bottom: 1px solid gray;
    z-index: 20;
    color:#fff;
}
.broswer-tip i{font-size:24px;}
.broswer-tip .mxc-infofill{margin-right:10px;}
.broswer-tip .close-broswer-tip{position:absolute;right:20px;cursor:pointer;}
.broswer-tip p{font-size:24px;}
.broswer-tip .downgoogle{
    margin-left:20px;
    font-size:24px;
}
.broswer-tip .downgoogle img{
    width:20px;
    height:20px;
    margin-right:10px;
}
.broswer-tip .downgoogle span{
    color:red;
}
/*鏆傛湭浣跨敤 鐐瑰嚮寮€濮嬫寜閽悗涓嶅彲閲嶅鍐嶇偣寮€濮� 闃叉涓€鑱斿鐐�*/
.start-btn.stopclick,.tug-start.stopclick{
    pointer-events: none;
}
